@font-face {
	font-family: "Comic Neue", cursive, sans-serif;
	src: url("../comic_neue_font/ComicNeue-Regular.ttf");
}

hr{
	background-color: white;
}

span{
	color: white;
	font-size: 16pt;
}

h1 {
	font-size: 36pt;
}
h2 {
	font-size: 30pt;
}
h3 {
	font-size: 25pt;
}
h4 {
	font-size: 20pt;
}

p{
	font-size: 15pt;
}

footer a, footer a:hover{
	text-decoration: none;
	color: #000;
}

@media screen and (max-width: 768px) {
	.navbar {
    	border-bottom:1px solid #ffffff;
	}
}



.jumbotron {
	color: white;
	font-family: "Comic Neue", cursive, sans-serif;
	background-image: url(../images/p_b_02.png);
	background-size: cover;
	width : 100%;
	height: 100%;
	border-radius: 10px;
}

.page-header{
	font-family: "Comic Neue", cursive, sans-serif;
}
.page-header > center > h1{
	font-size: 40pt;
	text-decoration: underline;
}

.nav-item.active{
	font-size: 13pt;
}

.navbar-nav .nav-link{
	color: white !important;
}

.navbar-nav .nav-link.active{
	color: #000 !important;
}

.btn.btn-success {
	font-family: "Comic Neue", cursive, sans-serif;
	font-size: 20pt;
	padding: 5px 5px 5px 5px;
}
.col-md-4 .btn.btn-success {
	float: right;
}

.content_paragraph {
	font-size: 18pt;
	font-family: "Times New Roman", Times, serif;
}

@keyframes show_description {
  0% {
  	opacity: 0;
  }
  100% {
  	opacity: 1;
  }
}

.projects_project {
	width: 100%;
	position: relative;
	color: #ffffff;
}

.project_heading{
	margin-top: 30px;
	font-size: 50pt;
}

.project_heading > a{
	color: #ffffff;
}

.project_heading > a:hover{
	text-decoration: none;
}

.project_description{
	color: #ffffff;
	margin-top: 30px;
	font-size: 20pt;
	opacity: 0;
	animation-name: show_description;
	animation-delay: 3s;
	animation-duration: 3s;
	animation-fill-mode: both;
}

#uttt_project {
	background-image: url(../images/utt_background_2.jpg);
	background-size: cover;
	border-radius: 40px;
	background-color: #888888;
  	background-blend-mode: multiply;
  	background-position: center;
  	width: 100%;
  	margin-bottom: 40px;
  	margin-left: 2%;
  	margin-right: 2%;
  	padding: 20px;
}

#sa_project {
	background-image: url(../images/sent_anal.jpg);
	background-size: cover;
	border-radius: 40px;
	background-color: #888888;
  	background-blend-mode: multiply;
  	background-position: center;
  	width: 100%;
  	margin-bottom: 40px;
  	margin-left: 2%;
  	margin-right: 2%;
  	padding: 20px;
}

#mlgym_project {
	background-image: url(../images/ml_background.jfif);
	background-size: cover;
	border-radius: 40px;
	background-color: #888888;
  	background-blend-mode: multiply;
  	background-position: center;
  	width: 100%;
  	margin-bottom: 40px;
  	margin-left: 2%;
  	margin-right: 2%;
  	padding: 20px;
}

#web_project {
	background-image: url(../images/web_background.gif);
	background-size: cover;
	border-radius: 40px;
	background-color: #888888;
  	background-blend-mode: multiply;
  	background-position: center;
  	width: 100%;
  	margin-bottom: 40px;
  	margin-left: 2%;
  	margin-right: 2%;
  	padding: 20px;
}


.meme_img{
	width: 100%;
	height: 600px;
	border-radius: 40px;
}

form{
	background-size: cover;
	padding-bottom: 20px;
	border-radius: 40px;
	animation-name: show_description;
	animation-delay: 1.2s;
	animation-duration: 2.5s;
	animation-fill-mode: both;
}

.fields{
	padding: 20px;
	padding-bottom: 20px;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
label {
	color: #ffffff;
	display: block;
	font-size: 20pt;
	font-weight: 300;
	letter-spacing: 3pt;
	line-height: 1.5;
	margin: 0 0 10px 0;
	text-transform: uppercase;
}

textarea, input[type="text"]{
	width: 90%;
	border-radius: 20px;
	height: 150px;
	font-family: "Comic Neue", cursive, sans-serif;
	font-size: 20pt;
	padding: 10px 10px 10px 10px;
	margin-bottom: 0px;
	outline: none;
	border-width: 0px;
}

input[type="text"]{
	border-radius: 10px;
	height: 40px;
}

.field{
	width: 90%;
	margin: auto auto;
}

.half {
	width: 50%;
}

@media screen and (max-width: 480px) {
	form > .fields > .field.half {
		width: 100%;
	}
}

input[type="submit"], input[type="reset"]{
	border-radius: 10px;
	height: 40px;
	border-width: 2px;
	border-style: solid;
	outline: none;
	transition-duration: 0.4s;
	background-color: transparent;
	color: #ffffff;
	border-color: #ffffff;
	zoom: 1.5;
	float: center;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

input[type="submit"]:hover, input[type="reset"]:hover{
    background-color: #ffffff;
    color: #8f8fff;
    border-width: 2px;
}
